* {
    box-sizing: border-box;
}

body {
    color: rgb(56, 52, 56);
    font-family: sans-serif;
    background: linear-gradient(135deg, whitesmoke 25%, transparent 25%) -50px 0,
                linear-gradient(225deg, whitesmoke 25%, transparent 25%) -50px 0,
                linear-gradient(315deg, whitesmoke 25%, transparent 25%),
                linear-gradient(45deg, whitesmoke 25%, transparent 25%);
    background-size: 100px 100px;
    background-color: rgb(209, 233, 243);
}

.wrap {
    display: flex;
    align-items: center;
    /* margin: 12px 0; */
}

input, button {
    border: 1px solid rgb(56, 52, 56);
    border-radius: 3px;
    outline: none;
}

input {
    width: 100px; height:30px;
    padding: 6px;
}

button, #button {
    width: 50px; height:30px;
    color: whitesmoke;
    background-color: rgb(64, 74, 116);
    margin: auto 6px;
}

h3 {
    margin-right: 12px;
}

#result {
    width: 400px; height: 30px;
    border: 1px solid rgb(56, 52, 56);
    border-radius: 3px;
    color: whitesmoke;
    background-color: rgb(128, 175, 53);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 3px 6px;
    text-align: right;
    font-weight: bold;
}

P {
    margin: 0;
}

.leaveBtn {
    margin-bottom: 16px; 
}