* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #212121;
    font-family: "Roboto", "Sans-serif";
}

.navwrap {
    width: 100%;
    height: 49px;
    position: fixed;
    display: flex;
    top: 0;
    border-bottom: 1px solid #bdbdbd;
    z-index: 3;
    background-color: #fff;
}

nav {
    width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.logo {
    width: 216px;
    height: 36px;
    margin: 8px 0 4px 0;
    background-image: url(./img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    font-size: 14px;
}

nav li {
    text-align: center;
}

nav li a {
    padding: 0 24px;
    transition: color .2s;
    text-decoration: none;
    color: rgba(0,0,0,.54);
    white-space: nowrap;
}

nav li a:hover {
    color: #757575;
}

nav li a:visited {
    color: rgba(0,0,0,.54);
}

.navicon, .hamburger {
    display:none;
}

.hamburger {
    position: relative;
    width: 30px;
    height: 22px;
    margin: 0 20px 0 0;
    cursor: pointer;
}

.hamburger span {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    border-radius: 2px;
    transition: all .25s linear;
}

.hamburger span:nth-of-type(1) {
    top: 0;
}

.hamburger span:nth-of-type(2) {
    top: 10px;
}

.hamburger span:nth-of-type(3) {
    bottom: 0;
}

.navicon:checked ~ .hamburger span:nth-of-type(1) {
    transform: translateY(10px) rotate(-45deg);
}
.navicon:checked ~ .hamburger span:nth-of-type(2) {
    opacity: 0;
}
.navicon:checked ~ .hamburger span:nth-of-type(3) {
    transform: translateY(-10px) rotate(45deg);
}

.avatar {
    border-radius: 50%;
    height: 32px;
    margin: 8px 0 8px 24px;
    outline: 0;
    vertical-align: top;
    width: 32px;
}

header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    position: relative;
    height: 228px;
    top: 49px;
    z-index: 2;
    box-shadow: 0 4px 8px rgba(0,0,0,.28);
}

h1, h2, h3, h4 {
    font-family: "Lato", sans-serif;
    font-weight: 400; 
}

h1 {
    font-size: 44px;
    text-align: center;
    margin: 14px auto;
    line-height: 40px;
}

.strong {
    font-weight: bold;
}

.welmsg {
    height: 140px;
    position: relative;
    padding: 40px 24px;
}

.search {
    border: 6px solid #fff;
    border-radius: 8px;
    height: 48px;
    margin: -8px auto 48px auto;
    max-width: 816px;
    width: 90%;
    background: #f7f7f7;
    display: flex;
    align-items: center;
}

.searchfor {
    font-family: "Roboto", "Sans-serif";
    background: 0;
    border: 0;
    color: rgba(0,0,0,.54);
    padding: 8px 8px 8px 72px;
    transition: color .2s;
    width: 100%;
    outline: none;
    font-size: 16px;
}

.sf-search-o {
    position: relative;
    left: 30px;
    top: 2px;
    color: rgba(0,0,0,.54);
}

main a {
    text-decoration: none;
}

main a:visited {
    color:#039be5;
}

.up, .down {
    margin: 0 auto;
    padding: 30px 9.5% 10px;
    display: block;
}

.up {
    background-color: #f7f7f7;
}

.down {
    background-color: #ffffff;
}

.articlewrap {
    min-height: calc(100vh - 562px);
    max-width: 1352px;
    margin: 0 auto;
}

h2 {
    margin: 0 auto;
    margin-bottom: 32px;
    width: 100%;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h3 {
    color: #039be5;
    margin: 0 0 24px 0;
    font-size: 22px;
    line-height: 1.5em;
}

main {
    position: relative;
    top: 49px;
}

.btn {
    align-self: flex-end;
}

.btnwhite {
    background-color: transparent;
    box-shadow: none;
    color: #039be5;
    padding: 8px;
    margin: 4px;
    border: 0;
    border-radius: 2px;
    font-weight: 700;
    height: 36px;
    min-width: 36px;
    outline: 0;
    text-align: center;
    white-space: nowrap;
    transition: all .2s;
}

.btnwhite:hover {
    background-color:#e2f5ffe3;
}

.btnoffset {
    position: relative;
    bottom: 4px;
    left: 4px;   
}

.inner {
    display: flex;
    justify-content: center;
}

.row1 {
   min-height: 238px;
}

.row2 {
   min-height: 253px;
}

.row3 {
   min-height: 213px;
}

article {
    max-width: 656px;
    margin-bottom: 32px;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    position: relative;
    background-color: #fff;
}

.right {
    margin-left: 40px;
}

.thumbnail {
    overflow: hidden;
}

.yt {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.yt iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.post {
    padding: 10px 16px;
}

.hashtag {
    margin-top: 16px;
}

p {
    margin-bottom: 16px;
    line-height: 1.5em;
}

img {
    width: 100%;
}

footer {
    position: relative;
    top: 49px;
}

h4 {
    font-size: 14px;
    margin: 0 0 8px 0;
}

.linkwrap {
    display: flex;
    padding: 0;
    justify-content: center;
    margin: 0;
    background: linear-gradient(90deg,#303c42 50%,#37424b 50%);
    color: #fff;
    list-style: none;
}

.linkbox {
    padding: 24px 20px 32px 24px;
    width: 350px;
    height: 304px;
}

.linklist {
    padding: 0;
    font-size: 14px;
}

.linkitem {
    display: block;
    padding: 8px 0;
}

.linkitem a {
    color: #cfd8dc;
    text-decoration: none;
}

.linkitem a:visited {
    color: #cfd8dc;
}

.linkitem a:hover {
    color: #fff;
}

a:active {
    color: #fff;
}

.bg {
    background-color: #303c42;
}

.footlogo {
    background-size: contain;
    background-repeat: no-repeat;
    border-bottom: 1px solid #455a64;
    display: block;
    margin: 0 -20px 12px -20px;
    padding: 0 24px 16px 20px;
}

.footlogo img {
    margin: -5px 0 0;
    max-width: 216px;
    width: 100%;
    vertical-align: top;
}

.footdown {
    background-color: #455a64;
    color: #fff;
}

.stuff {
    margin: 0 auto;
    height: 64px;
    max-width: 1400px;
}

@media (max-width:720px) {
/* 如果螢幕寬度小於720px，套用此區塊的設定 */
    body {
        font-size: 14px;
    }
    .inner {
        flex-wrap: wrap;
    }
    .right {
        margin: 0 auto;
    }
    h2 {
        font-size: 19px;
    }
    .old {
        font-size: 12px;
    }
    .logo {
        min-width: 50px;
        background-image: url(./img/logos.png);
        margin: 8px 0 4px 30px;
    }
    .menu {
        margin-left: 24px;
    }
}