extends layout.pug

block content
    header
        h1 Hello, My Server!

    section#content
        p 　　　　☆ *　. 　☆ 
            br
            | 　　☆　. &and;＿&and;　&cap;　* ☆ 
            br
            | ｷﾀ━━━&#40; ・&forall;・&#41;/ . ━━━！！
            br
            | 　　　. &sub;　　 ノ* ☆ 
            br
            | 　　☆ * &#40;つ ノ .☆ 
            br
            | 　　　　 &#40;ノ