extends layout.pug

block content
    header
        h1 Hi～ #{name}!
        form(action="/leave", method='post')
            button(type='submit' class='leaveBtn') Leave
        
    section#content
        p ヾ&#40;｡･v･｡&#41;