extends layout.pug

block content
    header
        h1 Your Name.
        form(action='/trackName', method='post')
            label Could I ask you… your name?　
                input(type="text", name='username')
            button(type='submit') Send
    section#content
        p &#40;〃･&omega;･〃&#41;